@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Exo+2:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2';
  background-color: #f0f0f0; 
}

.container {
  width: 800px;
  display: block;
  justify-content: center;
  align-items: center;
  border-color: rgb(21, 2, 124);
  margin: auto;
  background-color: #ceec9d; 
}

.description_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(21, 2, 124);
}

.description_details img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  padding: 2px;
}

.description_details h1 {
  font-family: 'Carter One', sans-serif;
  color: aliceblue;
  padding: 2px;
  font-size: 36px; /* Increase or decrease the font size as needed */
}

.description_details p {
  font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
  color: aliceblue;
  padding: 2px;
  font-style: italic;
}
  

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-family: 'Red Hat Text';
  font-size: 25px;
  padding: 20px;
  color: black;
}
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-family: 'Red Hat Text';
    color: rgba(9, 2, 52, 0.863);
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
  }
  
  input[type="password"] {
    width: 300px;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(37, 9, 197, 0.863);
    text-indent: 10px;
  }
  
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-color: rgb(21, 2, 124);
    border-radius: 8px;
    color: rgb(4, 11, 116);
    font-weight: bolder;
    background-color: aliceblue;
    font-size: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  