<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password | Lizys File Share</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/file-icon2.png">
    <link rel="stylesheet" type="text/css" href="/styles/forgotPassword.css">
</head>
<body>
    <div class="container">
        <div class="description_details">
            <h1> Lizys File Share </h1>
            <p>"A platform for accessing files"</p>
        </div>
        <form id="resetForm" action="/api/forgotPassword"  method="POST"> 
            <div class="form-title"> 
                <p>Enter the email address associated with your account and <br> we'll send you a link to reset your password.</p>
            </div>
            <div class="email">
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <div id="emailError" class="error-message"></div> 
            </div>
            <button type="submit" value="send link">Continue</button> 
            <div class="new-account">
                <p>Don't have an account ? <a href="/api/signup">Sign Up</a></p>
            </div> 
        </form>
    </div>

    <script src="/scripts/forgotPassword.js"></script>
</body>
</html>