<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password | Lizys File Share</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/file-icon2.png">
    <link rel="stylesheet" type="text/css" href="/styles/resetPasswordPage.css">
</head>
<body>
    <div class="container">
        <div class="description_details">
            <h1> Lizys File Share </h1>
            <p>"A platform for accessing files"</p>
        </div>
        <div id="reset-form">
            <form action="/api/reset-password" method="POST">
                <input type="hidden" name="token" value="<%= token %>">
                <div class="form-title"> 
                    <p>Enter your new password.</p>
                </div>
                <div class="password">
                    <label for="password">New Password</label><br>
                    <input type="password" name="password" id="password">
                </div>
                <div class="confirm-password">
                    <label for="confirm-password">Confirm Password</label><br>
                    <input type="password" name="confirm-password" id="confirm-password">
                </div>
                <button type="submit">Reset Password</button> 
            </form>
        </div>
        </div>
    </div>

    <script src="/scripts/resetPasswordPage.js"></script>
</body>
</html>
